.input {
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  border-radius: 15px;
  border: 1px solid var(--gray_DDDDDD);
  transition: none;
  outline: none;
  position: relative;
}

.input:hover {
  background-color: var(--white_ffffff);
}

.input:focus {
  border-color: gray;
  outline: none;
}

.error-message {
  color: var(--error_C41013);
  font-size: 14px;
  min-height: 20px;
  margin-top: 4px;
  display: block;
}

.input-container {
  border-color: var(--gray_DDDDDD);
  margin-bottom: 50px;
  position: relative;
  width: 648px;
}

.input-error {
  border: 1px solid var(--error_C41013);
  width: 648px;
  height: 48px;
  border-radius: 15px;
  box-sizing: border-box;
}

.input-error:hover {
  border-color: var(--error_C41013);
}

.input-error:focus {
  border-color: var(--error_C41013);
  outline: none;
}

.password-container input {
  position: relative;
}

.input-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.input,
.input-error {
  padding-left: 20px;
}
