.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.currentTimeLabel {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray_818181);
  padding-left: 5px;
}

.currentTime {
  width: fit-content;
  padding: 8px 12px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
}
