.input {
  display: flex;
  width: 335px;
  height: 42px;
  padding: 12px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  background: #fff;
  color: #818181;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
