.toast {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  border-radius: 12px;
  font-weight: 500;

  padding: 14px 28px;

  margin: 0 auto;
}

.toastSuccess {
  background-color: var(--green_E1EDDE);
  color: var(--green_text_578246);
}

.toastError {
  background-color: var(--pink_FDE0E9);
  color: var(--red_F50E0E);
}

@media (max-width: 768px) {
  .toast {
    padding: 10px 18px;
    font-size: 14px;
  }
}
