.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 110;
}

.container {
  width: 648px;
  padding: 40px 24px;
  border-radius: 20px;
  background-color: var(--white_FFFFFF);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 24px;
  font-weight: 800;

  margin-bottom: 24px;
}
